/*

#262523
#fff7f0

rgb(9, 10, 12)
rgb(255, 253, 250)

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    /*overflow: hidden;*/
    background-color: #fff7f0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    height: 100%;
    margin-bottom: 40px;
}

/*.mark-wrap {
    background-color: #fff7f0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

@keyframes scroll {
    0% {
        transform: translate(100%);
    }
    100% {
        transform: translate(-100%);
    }
}

.mark {
    display: inline-block;
    animation: scroll 10s linear infinite;
}

.mark span {
    margin-right: 50px;
}*/

.header .h1 {
    position: relative;
    font-family: "Anton", serif;
    color: #262523;
    font-size: 25vw;
    line-height: 1.525;
}

.container-wrap {
    border-top: 0.5px solid #262523;
    display: flex;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;           /* this was changed col to row*/
    gap: 100px;
    /*background-color: wheat;*/
    margin-top: 1rem;
    margin-left: 1rem;
    width: 100%;
    margin: 20px;
    height: 100%;                    /*height was added*/
}

.profile-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;                        /*gap was added*/
    margin-top: 0.1px;                /*this was changed -100 to 0.1*/
}

.profile-bio {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    flex-direction: column;
    /*background-color: black;*/
    /*bottom: 12rem;
    position: relative;
    left: 5rem;*/
    width: 50%;
    height: 70%;    
}

.profile-bio h1 {
    font-family: "Anton", serif;
    color: #262523;
    font-weight: normal;
}

.profile h2 {
    font-family: "Anton", serif;
    color: #262523;
    font-size: 70px;
    line-height: 1.5;
    padding-bottom: 10px;         /*padding was added*/
    /*position: relative;
    right: 29.5rem;*/
}

#para1 {
    font-family: "Anton", serif;
    color: #262523;
    line-height: 1.5;
    font-size: 20px;
    padding: 15px;
}

#list {
    font-family: "Anton", serif;
    color: #262523;
    line-height: 1.5;
    font-size: 20px;
}

.profile-img {
    position: relative;
    /*right: 25.8rem;
    bottom: -2rem;*/
}

.avatar {
    max-width: 19.5rem;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    border: 4px solid #fff;
}

.container-links {
    border-top: 0.5px solid #262523;
    display: flex;
}

.links-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background-color: wheat;*/
    margin-top: 1rem;
    margin-left: 1rem;
    width: 100%;
    margin: 20px;
}

@media(max-width: 880px) {
    #text3 {
        padding-left: 40rem;
    }
}

.links-wrap h2 {
    font-family: "Anton", serif;
    color: #262523;
    font-size: 70px;
    line-height: 1.5;
    padding-right: 50rem;
    /*position: relative;
    right: 29.5rem;*/
}

.links {
    /*background-color: wheat;*/
    height: 100%;
    width: 90%;
    margin: 30px;
}

#btn1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.2rem;
    padding: 20px;
    cursor: pointer;
    border-top: 1px solid #262523;
    background-color: #fff7f0;
    color: #262523;
    text-decoration: none;
    font-family: "Anton", serif;
    color: #262523;
    font-size: 25px;
    line-height: 1.5;
}

#btn2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.2rem;
    padding: 20px;
    cursor: pointer;
    border-top: 1px solid #262523;
    background-color: #fff7f0;
    text-decoration: none;
    font-family: "Anton", serif;
    color: #262523;
    font-size: 25px;
    line-height: 1.5;
}

#btn3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.2rem;
    padding: 20px;
    cursor: pointer;
    border-top: 1px solid #262523;
    background-color: #fff7f0;
    text-decoration: none;
    font-family: "Anton", serif;
    color: #262523;
    font-size: 25px;
    line-height: 1.5;
    position: relative;
}

@keyframes spacing {
    from {
        letter-spacing: 0px;
    }

    to {
        letter-spacing: 5px;
    }
}

@keyframes spacing2 {
    from {
        padding-left: 20px;
    }
    to {
        padding-left: 70px;
    }
}

#text:hover {
    text-decoration: underline;
    animation-name: spacing;
    animation-duration: 0.5s;
}

#text2:hover {
    text-decoration: underline;
    animation-name: spacing;
    animation-duration: 0.5s;
}

#text3:hover {
    text-decoration: underline;
    animation-name: spacing;
    animation-duration: 0.5s;
}

#btn1:hover {
    background-color: #262523;
    color: #fff7f0;
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
    animation-name: spacing2;
    animation-duration: 1s;
}

#btn2:hover {
    background-color: #262523;
    color: #fff7f0;
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
    animation-name: spacing2;
    animation-duration: 1s;
}

#btn3:hover {
    background-color: #262523;
    color: #fff7f0;
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
    animation-name: spacing2;
    animation-duration: 1s;
}


/*.profile {
    background: white;
    width: 300px;
    height: 400px;
    margin: 200px;
    border-radius: 20px;
}

.socials {
    background: white;
    width: 300px;
    height: 400px;
    margin: 200px;
    border-radius: 20px;
}

.profile-img {
    height: 150px;
    margin-bottom: 20px;
    margin-right: 150px;
    background-size: cover;
    border-radius: 20px 0px 0px 0;
    border:0.5px solid aliceblue;
}

.social-img {
    background-color: aqua;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 20px 20px 0 0;
}

.img-1 {
    background-image: url('profile.jpg');
}

*/

